{% extends "base.html" %}
{% block content %}
<h2>Item List</h2>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Description</th>
        <th>Minimum Stock</th>
    </tr>
    {% for i in items %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.sku }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.unit }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.min_stock }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
