{% extends "base.html" %}
{% block content %}
<h2>Items</h2>

<div>
  <a href="{{ url_for('inventory.add_item') }}" class="bubble-btn">Add Item</a>
  <a href="{{ url_for('inventory.import_items') }}" class="bubble-btn">Bulk Import Items (CSV)</a>
  <a href="{{ url_for('inventory.export_items') }}" class="bubble-btn">Export Items</a>
</div>
<br>

<table>
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Unit</th>
    <th>Description</th>
    <th>Min Stock</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{ item.sku }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.unit }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.min_stock }}</td>
  </tr>
  {% endfor %}
</table>
<div class="pagination">
  {% if page > 1 %}
    <a href="{{ url_for('inventory.list_items', page=page-1, size=size) }}">Previous</a>
  {% endif %}
  {% if page < pages %}
    <a href="{{ url_for('inventory.list_items', page=page+1, size=size) }}">Next</a>
  {% endif %}
</div>
{% endblock %}
