{% extends "base.html" %}
{% block content %}
<h2>Stock List</h2>
<div class="table-container">
    <table class="inventory-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item ID</th>
                <th>Location ID</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for s in stocks %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.item_id }}</td>
                <td>{{ s.location_id }}</td>
                <td>{{ s.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
