{% extends "base.html" %}
{% block content %}
<h2>Add New Item</h2>
<form method="POST">
    <label>SKU:</label>
    <input type="text" name="sku" required><br><br>

    <label>Name:</label>
    <input type="text" name="name" required><br><br>

    <label>Unit:</label>
    <input type="text" name="unit" value="ea"><br><br>

    <label>Description:</label>
    <input type="text" name="description"><br><br>

    <label>Minimum Stock:</label>
    <input type="number" name="min_stock" value="0"><br><br>

    <button type="submit">Save</button>
</form>
{% endblock %}
