{% extends "base.html" %}
{% block content %}
<h2>Welcome to Hyperion Inventory Tracker</h2>
<p>Select a module to begin:</p>

<ul class="menu">
    <li><a href="{{ url_for('inventory.list_item') }}">Inventory</a></li>
    <li><a href="{{ url_for('reports.list_reports') }}">Reports</a></li>
    <li><a href="{{ url_for('orders.orders_home') }}">Open Orders</a></li>
    <li><a href="{{ url_for('work.work_home') }}">Work Instructions</a></li>
    <li><a href="{{ url_for('settings.settings_home') }}">Settings</a></li>
</ul>
{% endblock %}
